* {
    box-sizing: border-box;
}

html {
    font-family: helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    background-color: white;
    color: #333333;
}

button {
    cursor: pointer;
    color: white;
    background-color: #599a68;
    border: none;
    padding: 1em 2em;
    transition: box-shadow .3s ease;
}

button:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
}

/* Récupère la police et la taille du texte du parent (inherit) */
input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

form > ul {
    list-style-type: none;
    padding: 0;
}

form > ul > li {
    margin-bottom: 1em;
}

form label {
    display: block;
    margin-bottom: .2em;
    cursor: pointer;
}

form input[type="checkbox"] {
    cursor: pointer;
    width: auto;
}

form input[type="checkbox"] + label {
    background: red;
}





